[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.Tetris
Exec=/usr/bin/ru.auroraos.Tetris
Name=Tetris
Name[ru]=Тетрис

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=Tetris
ExecDBus=/usr/bin/ru.auroraos.Tetris
